<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.title) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.estimatedDateTime) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.visitedDateTime) }}
    </div>
</div>

<div class="row d-flex justify-content-around">
    <div class="row col-sm-6 col-md-6">
        <div class="col-12">
            {{ form_row(form.trip) }}
        </div>

        <div class="col-12">
            {{ form_row(form.location) }}
        </div>
    </div>

    <div class="row col-sm-6 col-md-6 map-box">
        <div id="map" class="col-12"></div>
        <div class="coords col-12" id="coords">
            Arraste o mapa…
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.longitude) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.latitude) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.description) }}
    </div>
</div>