{% extends '@CoreBundle/base_template/__base_template.html.twig' %}

{% set page_title = 'Editar catálogo' %}

{% block stylesheets %}
    {{ parent() }}
    {# Leaflet CSS (needed for proper map styling) #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="" crossorigin="" />

    {# Ensure map height is applied with higher specificity than other styles (quick fix) #}
{#    <style>#}
{#        .map-box #map { height: 170px !important; border-radius: 10px 10px 0 0; }#}
{#    </style>#}

    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
    <!-- partial -->
    {{ include('@CoreBundle/components/title_breadcrumb.html.twig', {
            'title': page_title,
            'links': [
                {'path': path('checkpoint_index'), 'name': 'Viagens'},
            ],
            'current_name': 'Editar'
        })
    }}

    <div class="grid-margin stretch-cards">
        {{ include('@CoreBundle/components/flashMessages.html.twig') }}
        {{ include ('@CoreBundle/components/global_errors_form.html.twig', {form: form}) }}
        {{ form_start(form) }}
        <div class="card mb-3 border rounded" style="min-height: 60vh">
            <div class="card-body p-3">
                <div class="card-body p-3">
                    {{ include('@ExcursionBundle/Checkpoint/_form.html.twig', {'form': form}) }}
                </div>
            </div>
            <div class="card-footer ps-4">
                <a href="{{ path('checkpoint_index') }}" class="btn btn-secondary btn-fw me-2">Voltar</a>
                <button class="btn btn-primary btn-fw">Salvar</button>
            </div>
            {{ form_widget(form._token) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <!-- main-panel ends -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        window.searchAddressEndpoint = "{{ path('map_search_address') }}";
    </script>
    {{ encore_entry_script_tags('checkpoint') }}
{% endblock %}