{% extends '@CoreBundle/base_template/__base_template.html.twig' %}

{% set page_title = 'Editar empresa' %}

{% block body %}
    <!-- partial -->
    {{ include('@CoreBundle/components/title_breadcrumb.html.twig', {
            'title': page_title,
            'links': [
                {'path': path('catalog_index'), 'name': 'Empresas'},
            ],
            'current_name': 'Editar'
        })
    }}

    <div class="grid-margin stretch-cards">
        {{ include('@CoreBundle/components/flashMessages.html.twig') }}
        {{ include ('@CoreBundle/components/global_errors_form.html.twig', {form: form}) }}
        {{ form_start(form) }}
        <div class="card mb-3 border rounded" style="min-height: 60vh">
            <div class="card-body p-3">
                <div class="card-body p-3">
                    {{ include('@ExcursionBundle/Catalog/_form.html.twig', {'form': form}) }}
                </div>
            </div>
            <div class="card-footer ps-4">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('company_index') }}" class="btn btn-secondary btn-fw me-2">Voltar</a>
                {% endif %}
                <button class="btn btn-primary btn-fw">Salvar</button>
            </div>
            {{ form_widget(form._token) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <!-- main-panel ends -->
{% endblock %}