<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Início</li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('home_index') }}">
        <span class="icon-bg"><i class="mdi mdi-cube menu-icon"></i></span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item nav-category">Pessoas</li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('user_index') }}" >
        <span class="icon-bg"><i class="mdi mdi-account-multiple menu-icon"></i></span>
        <span class="menu-title">Usuários</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#excursions" aria-expanded="false"
         aria-controls="excursions">
        <span class="icon-bg"><i class="mdi mdi-contacts menu-icon"></i></span>
        <span class="menu-title">Excursões</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="excursions">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{{ path('catalog_index') }}">Catálogos</a></li>
        </ul>
      </div>
    </li>

    {% if is_granted('ROLE_ORGANIZER') %}
      <li class="nav-item nav-category">Empresa</li>
      <li class="nav-item">
        <a
          class="nav-link"
          {% if is_granted('ROLE_ADMIN') %}
            href="{{ path('company_index') }}"
          {% else %}
            href="{{ path('company_update', {company: app.user.company.id}) }}"
          {% endif %}
        >
          <span class="icon-bg"><i class="mdi mdi-office-building menu-icon"></i></span>
          <span class="menu-title">Empresa</span>
        </a>
      </li>
    {% endif %}

    <li class="nav-item nav-category">Extras</li>

    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="#" class="nav-link"><i class="mdi mdi-weather-sunny menu-icon"></i>
          <span class="menu-title">Settings</span>
        </a>
      </div>
    </li>
    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a href="{{ path('login_logout') }}" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Encerrar Sessão</span></a>
      </div>
    </li>
  </ul>
</nav>