<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.title) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.price) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.catalog) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.capacity) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.dateStart) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.dateEnd) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.description) }}
    </div>
</div>