<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page_title is defined ? page_title ~ ' | MyTour' : 'App | MyTour'}}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('template_assets/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('template_assets/vendors/flag-icon-css/css/flag-icons.min.css') }}">
    <link rel="stylesheet" href="{{ asset('template_assets/vendors/css/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/flatpickr/dist/flatpickr.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link href="{{ asset('template_assets/vendors/select2/select2.min.css') }}" rel="stylesheet" />
    <!-- endinject -->

    <!-- Layout styles -->
    <link rel="stylesheet" href="{{ asset('template_assets/css/vertical-light-layout/style.css') }}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{{ asset('template_assets/images/favicon.png') }}" />

    {% block stylesheets %}
    {% endblock %}

  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {{ include('@CoreBundle/base_template/partials/_navbar.html.twig') }}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {{ include('@CoreBundle/base_template/partials/_sidebar.html.twig') }}

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper" style="padding: 20px">
            {% block body %}
            {% endblock %}
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          {{ include('@CoreBundle/base_template/partials/_footer.html.twig') }}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{{ asset('template_assets/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="{{ asset('template_assets/js/off-canvas.js') }}"></script>
    <script src="{{ asset('template_assets/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('template_assets/js/misc.js') }}"></script>
    <script src="{{ asset('template_assets/js/settings.js') }}"></script>
    <script src="{{ asset('template_assets/js/todolist.js') }}"></script>
    <script src="{{ asset('template_assets/vendors/select2/select2.min.js') }}"></script>
    <script src="{{ asset('vendor/@fortawesome/fontawesome-free/js/all.min.js') }}"></script>

    <!-- endinject -->
    {% block javascripts %}
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
  </body>
</html>
