<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.username) }}
    </div>
</div>
<div class="row">
    {% if form.role is defined %}
        <div class="col-sm-6 col-md-4">
            {{ form_row(form.role) }}
        </div>
    {% endif %}
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.birthday) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.password) }}
    </div>
</div>