{% extends '@CoreBundle/base_template/__base_template.html.twig' %}

{% set page_title = 'Usuários' %}

{% block body %}
    <!-- partial -->
        <div class="page-header container-fluid">
          <h3 class="page-title">{{ page_title }}</h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ path(app.request.attributes.get('_route')) }}">Usuários</a></li>
              <li class="breadcrumb-item active" aria-current="page">Listagem</li>
            </ol>
          </nav>
        </div>
          <div class=" grid-margin stretch-cards">
            <div class="card mb-3 border rounded-top">
              <div class="card-header d-flex justify-content-between p-2 mb-2">
                  <div class="d-flex align-items-center">
                      Total<span class="mx-2 badge badge-primary">{{ entities.totalItemCount}}</span>
                  </div>
                <div>
                    <a
                      href="#"
                      class="btn btn-sm btn-primary d-flex align-content-center"
                      style="margin-top: -25px"
                    >
                      <p class="m-0 text-white">Novo item</p>
                      <i class="mdi mdi-plus fs-5 text-white"></i>
                    </a>
                </div>
              </div>
              <div class="card-body p-3">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'method': 'get'}) }}
                  <div class="row">
                    <div class="col-sm-6 col-md-4">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="col-sm-6 col-md-4">
                        {{ form_row(form.role) }}
                    </div>
                  </div>

                  {{ include('@CoreBundle/components/audit_extra_filters.html.twig', {'form': form}) }}

                  <div class="d-flex justify-content-end mt-2 container-fluid">
                    <div class="me-2">
                      {{ form_row(form.active, {'attr': {'style': 'min-width: 100px'}}) }}
                    </div>
                    <button
                      id="btn-extra-filters"
                      type="button"
                      class="btn btn-inverse-secondary me-2 mb-1 d-flex justify-content-around align-content-center"
                      style="min-width: 100px; height: 40px"
                    >
                      <span class="m-0 align-self-center">Audit</span>
                      <i class="mdi mdi-plus fs-6 align-self-center"></i>
                    </button>
                    <a
                      href="{{ path(app.request.attributes.get('_route')) }}"
                      class="btn btn-inverse-info me-2 mb-1 d-flex justify-content-around align-content-center"
                      style="min-width: 100px; height: 40px"
                    >
                      <p class="m-0 align-self-center">Reiniciar</p>
                      <i class="mdi mdi-filter-remove fs-6 align-self-center"></i>
                    </a>
                    <button type="submit" class="btn btn-dark d-flex justify-content-around align-content-center" style="min-width: 100px; height: 40px">
                      <span class="m-0 align-self-center text-white">Buscar</span>
                      <i class="mdi mdi-magnify fs-6 align-self-center"></i>
                    </button>
                  </div>
                  {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
              </div>
            </div>

            {{ include('@CoreBundle/components/flashMessages.html.twig') }}

            <div class="card rounded-bottom">
              <div class="card-body p-3 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="{{ entities.isSorted('entity.id') ? 'sorted' : ''}}">
                          {{ knp_pagination_sortable(entities, '#', 'entity.id') }}
                          <i class="mdi mdi-arrow-{{ entities.isSorted('entity.id') ? 'down' : 'up' }}"></i>
                      </th>
                      <th class="{{ entities.isSorted('entity.username') }}">
                          {{ knp_pagination_sortable(entities, 'Nome de usuário', 'entity.username') }}
                      </th>
                      <th>Nível de acesso</th>
                      <th>Status</th>
                      <th>Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for entity in entities %}
                      <tr>
                          <td>
                            {{ entity.id }}
                          </td>
                          <td>
                            {{ entity.username }}
                          </td>
                          <td>{{ entity.getRoleBadge() | raw }} </td>
                          <td>
                            {{ include('@CoreBundle/pages/audit-status.html.twig', {'entity': entity})  }}
                          </td>
                          <td>
                              <div class="dropdown">
                                  <button
                                    type="button"
                                    class="btn btn-outline-primary dropdown-toggle"
                                    id="dropdown-table-actions"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    data-bs-auto-close="false"
                                  >
                                    <i class="mdi mdi-dots-vertical"></i>
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdown-table-actions" style="">
                                      <h6 class="dropdown-header">Ações</h6>
                                      <a class="dropdown-item" href="#">Editar</a>
                                      <a class="dropdown-item" href="#">Alterar papel</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item text-danger" href="#">Deletar</a>
                                  </div>
                              </div>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

            <div class="mt-3">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    <!-- main-panel ends -->
{% endblock %}